.svg-btn-button{
    margin: var(--btn-marg) var(--btn-marg) 0 var(--btn-marg);
    width: var(--btn-size);
    height: var(--btn-size);
    vertical-align: middle;
    box-sizing: content-box;
    background: none;

    padding: 0 !important;
    border: 0 none !important;

}

.svg-button{
    display:block;
    width:24px;
    /* height:64px; */
}

.icon-border, .icon-icon{
    fill: rgb(var(--btn-fg-solid));
}

.icon-icon{
    pointer-events: none;
}

.icon-mask{
    pointer-events: all;
    cursor: pointer;
    fill: none;
}

.icon-button-event {
    fill: none;
    pointer-events: all;
    cursor: pointer;
}

.icon-mask:hover {
    fill: rgba(var(--btn-active-solid), 0.5);
}

.icon-active {
    fill: rgba(var(--btn-active-solid), 0.5);
}

.icon-icon.button-multi {
    display:none;
}
.icon-icon.button-multi.icon-active-state {
    display:block;
}

.icon-mask.icon-active:hover{
    fill: rgba(var(--btn-active-solid), 1.0);
}