:root{
    --fg: 255,255,255;
    --bg: 0,0,0;
    --ctrl-width: 10px;
    --numbers-width: 32px;
    --slate: rgb(64, 64, 64);
    --fg-solid: 240, 0, 240;

    --btn-size: 28px;
    --btn-fg-solid: 240, 0, 240;
    --btn-active-solid: 240, 240, 0;
    --bg-solid: 120, 0, 120;
}

.ez_dom{
    background: rgba(var(--bg-solid),0.8);
    display: block;
    position: relative;
    overflow: visible;
}

.ez_control{
    position: absolute;
    width: var(--ctrl-width);
    pointer-events: all;
    cursor: pointer;
    overflow:hidden;
}

.ez_control .handle{
    width:4px;
    height:1.2em;
    border-radius: 2px;
    background-color: rgb(var(--fg-solid));
    position:absolute;
    top: 50%;
	left: 3px;
    -webkit-transform: translate(0, -50%);
	transform: translate(0, -50%); 
}

.ez_control .handle-break{
    position:absolute;
    height:100%;
    border-right:2px rgba(var(--fg-solid), 0.5) dotted;
    left: 10px;
}

.ez_control .buttons{
    /* padding-top: 2px; */
    position:absolute;
    height: 100%;
    left: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_control .buttons::-webkit-scrollbar {
    display: none;
}


.ez_field{
    border: 0;
    outline: none;
    font-size: 12px;
    color: white !important;
    background: none;
    resize: none;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left:calc(var(--numbers-width) + var(--ctrl-width));
    right:0;
    margin: 0;
    padding: 0;
    white-space: pre;
    tab-size: 12px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_numbers{
    font-family: monospace;
    background-color: rgba(255,255,255,0.3);
    color: rgb(var(--fg)) !important;
    display: block;
    margin: 0;
    padding: 0;
    padding-left:4px;
    font-size: 12px;
    position: absolute;
    overflow-y: scroll;
    left: var(--ctrl-width);
    top:0;
    right:0;
    white-space: pre;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_numbers div:nth-child(even){
    background-color: rgba(255,255,255,0.1);
}


.ez_numbers::-webkit-scrollbar, .ez_field::-webkit-scrollbar {
    display: none;
}