:root{
    --ctrl-width: 10px;
    --numbers-width: 32px;
    --btn-size: 28px;
    --btn-marg: 2px;
}

#test{
    background: hsl(322, 99%, 38%);
    --zone: 322 99%;
    --zone-bg-l: 99%;
}

#test .svg-btn-button{
    --zone: 322 99%;
    --zone-bg-l: 99%;
}

textarea::placeholder {
    color: var(--fg-solid);
}

.ez_dom{
    /* --zone: 192 87%;
    --zone-bg-l: 87%;

    --fg-hsl: var(--zone) 80%;
    --fg-solid: hsl(var(--fg-hsl));

    --bg-hsl: var(--zone) 20%;

    --bg-solid: hsl(var(--zone) 30%);
    --bg-dark: hsl(var(--zone) 10%);

    
    --text: 50 100%; */

    --fg-hsl: var(--zone) 80%;
    --fg-solid: hsl(var(--fg-hsl));

    --bg-hsl: var(--zone) 20%;

    --bg-solid: hsl(var(--zone) 30%);
    --bg-dark: hsl(var(--zone) 10%);


    
    background: var(--bg-solid);
    display: block;
    position: relative;
    overflow: visible;
}

/* .ez_dom .svg-btn-button{
    --zone: 192 87%;
    --zone-bg-l: 87%;

} */


.ez_control{
    position: absolute;
    width: var(--ctrl-width);
    
    
    /* width: calc(var(--zone-invert) + 8px); */



    pointer-events: all;
    cursor: pointer;
    overflow:hidden;

    /* --zone: 50 100%; */
    /*forced-overrides of native button css:*/
    /* --btn-hsl: var(--zone) 50%;
    --btn: hsl(var(--btn-hsl)); */

}

.ez_control .handle{
    width:4px;
    height:1.2em;
    border-radius: 2px;
    background-color: hsl(var(--bg-hsl) / 1);
    position:absolute;
    top: 50%;
	left: 3px;
    -webkit-transform: translate(0, -50%);
	transform: translate(0, -50%); 
}

.ez_control .handle-break{
    position:absolute;
    height:100%;
    border-right:2px hsl(var(--bg-hsl) / 0.8) dotted;
    left: 9px;
}

.ez_control .buttons{
    
    position:absolute;
    height: 100%;
    left: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_control .buttons::-webkit-scrollbar {
    display: none;
}


.ez_field{
    border: 0;
    outline: none;
    font-size: 12px;
    color: hsl(var(--text) 80% / 1.0) !important;
    background: none;
    resize: none;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left:calc(var(--numbers-width) + var(--ctrl-width));
    right:0;
    margin: 0;
    padding: 0;
    white-space: pre;
    tab-size: 12px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_numbers{
    font-family: monospace;
    background-color: rgba(255,255,255,0.2);
    display: block;
    margin: 0;
    padding: 0;
    padding-left:4px;
    font-size: 12px;
    position: absolute;
    overflow-y: scroll;
    left: var(--ctrl-width);
    top:0;
    right:0;
    white-space: pre;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ez_numbers div{
    color: hsl(var(--text) 50% / 1.0);
}

.ez_numbers div:nth-child(even){
    background-color: rgba(255,255,255,0.125);
}


.ez_numbers::-webkit-scrollbar, .ez_field::-webkit-scrollbar {
    display: none;
}