:root{
    --fg: 255,255,255;
    --bg: 0,0,0;
    --ctrl-width: 10px;
    --numbers-width: 32px;
    --slate: rgb(64, 64, 64);
}

svg {
    display:block;
}

.svg-button{
    display:block;
    width:32px;
    margin-left:14px;
    margin-top:2px;
    /* height:24px; */
}

.svg-button rect{
    fill:none;
}

.svg-button rect:hover{
    fill: rgba(var(--fg), 0.4);
}

.icon-border, .icon-icon{
    fill: var(--slate);
}

.icon-icon{
    pointer-events: none;
}

.icon-mask{
    pointer-events: all;
    cursor: pointer;
}

.ez_dom{
    background: rgba(var(--bg),0.6);
    display: block;
    position: relative;
    overflow: visible;
}

.ez_control{
    position: absolute;
    /* background-color: rgba(var(--bg),0.2); */
    width: var(--ctrl-width);
    pointer-events: all;
    cursor: pointer;
    /* padding:10px; */
    overflow:hidden;
    /* //calc(var(--ctrl-width)px); */
}

.ez_control .handle{
    width:4px;
    height:2em;
    border-radius: 2px;
    background-color: var(--slate);
    position:absolute;
    top: 50%;
	left: 3px;
    -webkit-transform: translate(0, -50%);
	transform: translate(0, -50%); 
}

.ez_control .handle-break{
    position:absolute;
    height:100%;
    border-right:2px var(--slate) dotted;
    left: 10px;
}

.ez_field{
    border: 0;
    outline: none;
    font-size: 12px;
    color: white !important;
    background: none;
    resize: none;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left:calc(var(--numbers-width) + var(--ctrl-width));
    right:0;
    margin: 0;
    padding: 0;
    white-space: pre;
    tab-size: 12px;
}

.ez_numbers{
    font-family: monospace;
    background-color: rgba(255,255,255,0.3);
    color: rgb(var(--fg)) !important;
    display: block;
    margin: 0;
    padding: 0;
    padding-left:4px;
    font-size: 12px;
    position: absolute;
    overflow-y: scroll;
    left: var(--ctrl-width);
    top:0;
    right:0;
    white-space: pre;
}

.ez_numbers div:nth-child(even){
    background-color: rgba(255,255,255,0.1);
}